:root {
	/* --primary-color: red; */
	/* --secondary-color:  */

	--bg-color:#E4F0D0;
	--mint-green: #dbf9f0ff;
	--powder-blue: #a1b5d8ff;
	--jet: #433a3fff;
	--dark-cyan: #3e8989ff;
	--lilac: #bda0bcff;
	--bright-pink-crayola: #f45b69ff;
}